    <% layout('./layouts/boilerplate') %>
    <% block('head').append('<link rel="stylesheet" type="text/css" href="css/style.css">') %>
    <main class="hero">
        <div class="container">
            <h1>Activate You+</h1>
            <p>We curate and review all the latest Running equipment to help you reach your next level!</p>
            <div>
                <a href="">
                    <button class="btn-hero">
                        <span>Exclusively Here</span>
                        <img src="/img/arrow-right.svg" alt="arrow-right-icon">
                    </button>
                </a>
            </div>
        </div>
    </main>
    <section class="products">
        <div class="section-header">
            <h2>Bestselling-Items</h2>
            <div class="detail"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur minima natus accusantium labore. Exercitationem, et?</p>
        </div>
        <div class="product__grid container">
        <% for (let product of products) { %>
            <div class="product__item">
                <a class="img-wrapper" href="/products/<%= product._id %> ">
                    <img src="<%= product.img %>" alt="">
                </a>
                <h4><%= product.brand %> <%= product.name %></h4>
                <p class="product__description"><%= product.desc %> </p>
                <div class="product__footer">
                    <p>£ <%= product.price %> </p>
                    <a class="btn-wrapper" href="">
                        <button class="btn-purchase">
                            <span>More Info</span>
                            <img src="/img/arrow-right.svg" alt="arrow-right-icon">
                        </button>
                    </a>
                </div>
            </div>
        <% } %>  
        </div>
    </section>
    <% block('footer').append('<script src="/js/home.js"></script>')%>