    <% layout('/layouts/boilerplate') %>
    <% block('head').append('<link rel="stylesheet" type="text/css" href="/css/product.css">') %>
    <main class="info">
        <div class="container">
            <div class="img__container">
                <img class="product-img" src="/<%= product.img %>" alt="<%= product.name %>">
            </div>
            <div class="product__container">
                <div class="product__header">
                    <div>
                        <h2><%= product.brand %> <%= product.name %></h2>
                        <p class="product__color"><%= product.color %></p>
                    </div>
                    <p class="product__price">£<%= product.price %> </p>
                </div>
                <p class="product__description"><%= product.description %> </p>    
                <p><%= product.size %></p>
                <div>
                    <a href="<%= product.link %>">
                        <button>Buy Now</button>
                    </a>
                    <a href="/products/<%= product._id %>/edit">
                        <button>Edit</button>
                    </a>
                </div>
                <div class="btn-wrapper">
                    <form action="/products/<%= product._id %>?_method=DELETE" method="POST">
                        <button class="btn-delete">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <% block('footer').append('<script src="/js/info.js"></script>')%>
   