    <% layout('/layouts/boilerplate') %>
    <% block('head').append('<link rel="stylesheet" type="text/css" href="/css/product.css">') %>
    <main class="info">
        <div class="container">
            <div class="img__container">
                <img class="product-img" src="/<%= product.img %>" alt="<%= product.name %>">
            </div>
            <div class="product__container">
                <div class="product__header">
                    <div>
                        <h2><%= product.brand %> <%= product.name %></h2>
                        <p class="product__color"><%= product.color %></p>
                    </div>
                    <p class="product__price">£<%= product.price %> </p>
                </div>
                <p class="product__description"><%= product.description %> </p>    
                <p><%= product.size %></p>
                <div>
                    <a href="<%= product.link %>">
                        <button>Buy Now</button>
                    </a>
                </div>
                <div class="admin__control">
                    <a href="/products/<%= product._id %>/edit">
                        <button>Edit</button>
                    </a>
                    <div class="btn-wrapper">
                        <form action="/products/<%= product._id %>?_method=DELETE" method="POST">
                            <button class="btn-delete">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <article class="reviews">
        <h3>See What Our Customers Say...</h3>
        <div class="detail"></div>
        <section class="reviews__container">
            <div class="reviews__header">
                <h4>Reviews</h4>
                <img src="" alt="">
            </div>
            <div class="review__body">
                <h5 class="review__tagline"></h5>
                <div class="review__rating">
                    <p>Submitted by</p>
                </div>
                <p class="review__content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non amet expedita quae fugiat saepe iure ipsum facilis? Eaque doloribus nihil earum fugit eum, ut blanditiis, quo aspernatur nesciunt accusantium incidunt.</p>
            </div>
        </section>
    </article>
    <% block('footer').append('<script src="/js/info.js"></script>')%>
   