    <% layout('/layouts/boilerplate') %>
    <% block('head').append('<link rel="stylesheet" type="text/css" href="/css/product.css">') %>
    <% block('head').append('<link rel="stylesheet" type="text/css" href="/css/stars.css">') %>
    <main class="info">
        <div class="container">
            <div class="img__container">
                <img class="product-img" src="/<%= product.img %>" alt="<%= product.name %>">
            </div>
            <div class="product__container">
                <div class="product__header">
                    <div>
                        <h2><%= product.brand %> <%= product.name %></h2>
                        <p class="product__color"><%= product.color %></p>
                    </div>
                    <p class="product__price">£<%= product.price %> </p>
                </div>
                <p class="product__description"><%= product.description %> </p>    
                <p>Sizes Available: <%= product.size %></p>
                <a href="<%= product.link %>">
                    <button class="primary-btn">Buy Now</button>
                </a>
                <% if(currentUser && product.author.equals(currentUser._id)) { %> 
                <div class="admin__control">
                    <h4>Admin Control</h4>
                    <div>
                        <a href="/products/<%= product._id %>/edit">
                            <button class="btn-edit">Edit</button>
                        </a>
                        <div class="btn-wrapper">
                            <form action="/products/<%= product._id %>?_method=DELETE" method="POST">
                                <button class="btn-delete">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
                <% } %> 
            </div>
        </div>
    </main>
    <article class="reviews">
        <div class="section-header">
            <h3>See What Our Customers Say...</h3>
            <div class="detail"></div>
        </div>
        <section class="reviews__container">
            <div class="reviews__header">
                <h4>Reviews</h4>
                <svg class="reviews-toggle" width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20 30L40 50L60 30" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>    
            </div>
            <% if(currentUser) { %> 
            <div class="review-message">
                <button class="open-modal">Write Your Review</button>
            </div>
            <% } else { %>
            <div class="review-signin">
                <p>Please sign in to create a review</p>
                <a href="/login">
                    <button class="primary-btn">Sign In</button>
                </a>
            </div>
            <% } %>
            <% for(let review of product.reviews) { %> 
            <div class="review__body hide">
                <h5 class="review__headline"><%= review.headline %></h5>
                <div class="review__rating">
                    <p class="starability-result" data-rating="<%= review.rating %>">
                        Rated: <%= review.rating %> stars
                    </p>
                    <p class="review__author">Submitted by <%= review.author.username %></p>
                </div>
                <p class="review__content"><%= review.body %></p>
                <% if(currentUser && review.author.equals(currentUser._id)) { %> 
                <form action="/products/<%= product._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                    <button class="btn-delete">X</button>
                </form>
                <% } %> 
            </div>
            <% } %> 
        </section>
        <div class="modal hidden">
            <form class="review-form" action="/products/<%= product._id %>/reviews" method="POST">
                <div class="form-header">
                    <h4>Write A Review</h4>
                    <button class="close-modal">&times;</button>
                </div>
                <fieldset class="starability-basic">
                    <legend>Your Rating: </legend>
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
                <label for="review-header">Headline</label>
                <input type="text" name=review[headline] id="review-header" required>
                <label for="review-body">Your message: </label>
                <textarea name="review[body]" id="review-body" cols="30" rows="10" required></textarea>
                <button class="form-btn">Submit Review</button>
            </form> 
        </div>
        <div class="overlay hidden"></div>
    </article>
    <% block('footer').append('<script src="/js/product.js"></script>')%>
    <% block('footer').append('<script src="/js/info.js"></script>')%>
    <% block('footer').append('<script src="/js/modal.js"></script>')%>

   