    <% layout('/layouts/boilerplate') %>
    <% block('head').append('<link rel="stylesheet" type="text/css" href="css/style.css">') %>
    <main>
        <div class="container">
            <div class="img__container">
                <img src="/<%= product.img %>" alt="<%= product.name %>">
            </div>
            <div class="product__container">
                <h1><%= product.brand %> <%= product.name %></h1>
                <p><%= product.desc %> </p>
                <div>
                    <a href="<%= product.link %>">
                        <button>Buy Now</button>
                    </a>
                    <a href="/products/<%= product._id %>/edit">
                        <button>Edit</button>
                    </a>
                </div>
            </div>
        </div>
    </main>
   